<h1>This is the Fabric Component</h1>
<div class = "container">
    <h3>Add a fabric</h3>
    <form>
        <label>Yards</label>
        <input type="number" required>
        <label>Materials</label>
        <input type="checkbox" id="cotton">
        <label for="cotton">Cotton</label>
        <input type="checkbox" id="wool">
        <label for="wool">Wool or other animal fiber</label>
        <input type="checkbox" id="synthetic">
        <label for="synthetic">Synthetic</label>
        <input type="checkbox" id="cellulose">
        <label for="cellulose">Cellulose based (lyocel, modal)</label>
        <input type="checkbox" id="unknown">
        <label for="unknown">Unknown</label>
        <label>Image</label>
        <input type="file" class="file-upload" onchange="console.log(event.target.files)">
        <label>Location</label>
        <input type="radio" id="basement" required>
        <label for="basement">Basement</label>
        <input type="radio" id="guest" required>
        <label for="guest">Guest Room</label>
        <input type="radio" id="patio" required>
        <label for="patio">Patio</label>
        <input type="submit" value="Add fabric">
    </form>
</div>


<p>Display fabrics</p>